@import "shared/styles/colors";
@import "shared/styles/fonts";
@import "shared/styles/layout";

header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;

    .navbar {
        background: $color-bg-primary;
        position: relative;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;   

        @media screen and (max-width:$break-mobile-portrait) {
            padding: 0;
        }
    
        .navbar-collapse {
            display: flex;
            padding-left: 1rem;
            flex-basis: 100%;
            flex-grow: 1;
            align-items: center;

            @media screen and (max-width:$break-mobile-portrait) {
                padding: 0;
            }
    
            @media screen and (max-width:$break-mobile-landscape) {
                flex-direction: column;
            }
        }
    
        .navbar-brand {
            color: #fff;
            font-size: 2.5rem;
            font-family: $font-secondary;
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1rem;
            line-height: inherit;
            white-space: nowrap;
    
            @media screen and (max-width:$break-ipad) {
                font-size: 1.5rem;
            }
        }
    
        .navbar-nav {
            justify-content: center;
            width: 100%;
            font-size: 1.3rem;
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            margin-top: 0px;
    
            @media screen and (max-width:$break-mobile-landscape) {
                font-size: 1rem;
            }
    
            .nav-item {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                white-space: nowrap;
    
                a {
                    color: #fff;
                    transition: 0.1s;
    
                    &:hover {
                        color: $color-link-base;
                        span {
                            display: block;
                            border-bottom: 2px solid $color-link-base;
                            transition: 0.1s;
                        }
                    }
                }
    
                &.active {
                    a {
                        color: $color-link-base;
                        span {
                            display: block;
                            border-bottom: 2px solid $color-link-base;
                            transition: 0.1s;
                        }
                    }
                }
    
                @media screen and (max-width:$break-mobile-landscape) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: center;
                }
            }
        }
    }    
}