<header>
  <nav class="navbar">    
    <div class="navbar-collapse">
      <a class="navbar-brand" href="#">Les Saveurs Boréales</a>
      <ul class="navbar-nav">
        <li class="nav-item" (click)="selectItem($event, 0)" [ngClass]="{'active': selectedIndex === 0}">
          <a class="nav-link" pageScroll href="#section-about">
            <span>À propos</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectItem($event, 1)" [ngClass]="{'active': selectedIndex === 1}">
          <a class="nav-link" pageScroll href="#section-products">
            <span>Produits</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectItem($event, 2)" [ngClass]="{'active': selectedIndex === 2}">
          <a class="nav-link" pageScroll href="#section-contact">
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>