<footer>
  <div class="container">      
    <div class="row">
      <div class="text-center">
        <p><small>©2017 lessaveursboréales.com. Tout droits réservés</small></p>
      </div>
    </div>
  </div>
</footer>