@import "shared/styles/colors";

footer {
    padding-top: 4em;
    background: $color-bg-primary;
    font-size: 18px;
    color: $color-grey-light;

    a {
        color: #fff;
        &:hover {
            color: $color-link-base;
        }
    }

    ul {
        padding: 0px 0px 20px 0px;
        margin: 0;

        li {
            padding: 5px 0px;
            margin: 0;
            list-style: none;
        }
    }

    h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }
}