@import "shared/styles/layout";

.product-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-list-item {
        flex: 0 0 50%;
        text-align: justify;

        >div{
            padding-right: 20px;
        }

        @media screen and (max-width:$break-ipad) {
            flex: 0 0 100%;
        }
    
    }
}