<div class="container">
  <div class="row">
    <div>
        <h1 class="text-center">Nos produits Nord-Côtiers</h1>
        <ul class="product-list">
          <li *ngFor="let product of products" class="product-list-item">               
            <div [ngClass]="product.icon">
                <h3>{{product.title}}</h3>
                <p>{{product.description}}</p>
            </div>      
          </li>
        </ul>
    </div>    
  </div>
</div>
