
body {    
    font-family: $font-primary;
    color: $color-grey-dark;
    margin: 0;
    padding: 0; 
}  

a {
    color: $color-link-base;
    transition: 0.1s;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        color: $color-link-base;
        text-decoration: none;
        outline: none;
    }        
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
}
