@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Dancing Script', cursive;