$break-desktop: 1200px;
$break-ipad: 992px;
$break-mobile-landscape: 768px;
$break-mobile-portrait: 576px;

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;     

    @media screen and (min-width:$break-mobile-portrait) {
        max-width: 540px;
    }

    @media screen and (min-width:$break-mobile-landscape) {
        max-width: 720px;
    }

    @media screen and (min-width:$break-ipad) {
        max-width: 960px;
    }


    @media screen and (min-width:$break-desktop) {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;

    >div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.text-center {
    text-align: center!important;
}