@import "shared/styles/colors";

.section-bg-info {
    color: $color-grey-dark;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 500px;
    vertical-align: middle;
    display: flex;
    align-items: center;   

    .row {
        background: #fff;
        opacity: 0.85;
        padding: 1.5rem;        
    }
}

#section-bg-first {
    background-image: url(/assets/img/bg-nature-2.jpg);    
}

#section-bg-second {
    background-image: url(/assets/img/bg-nature-3.jpg);    
}

#section-contact {
    background-image: url(/assets/img/bg-shipping-1.jpg);    
}

.section-info {
    padding: 60px 0px;
    color: $color-grey-dark;
    background: #fff;

    ul {
        padding: 20px;
        li {
            padding: 5px 0px;
        }
    }
}
